/*商品导航*/
.nav{
    padding:10px;
}
.nav ul li{
    width: 33.33%;
    float: left;
}
.nav ul li a{
    display: block;
}
.nav ul li a img{
    width: 100%;
    display: block;
}
/*产品区域*/
.product{
   padding:0 10px;
}
.product ul li {
    width: 48%;
    float: left;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    margin-top: 10px;
    padding: 10px 5px;
}
.product ul li:nth-child(odd){
    margin-right: 4%;
}
.product ul li img a{
    display: block;
    width: 100%;

}
.product ul li img{
    width: 100%;
    display: block;
}
.product ul li a>span{
    color: #007aff;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product ul li a p{
    text-align: center;
    color: red;
    font-size: 12px;
    text-align: center;

}
.product ul li a span:last-child{
    color: grey;
    text-decoration: line-through;
}