.lg_main{
    padding: 10px;
}
.lg_main .mui-input-row{
    margin-bottom: 10px;
}
.lg_main .mui-input-row input{
    border: 1px solid #ccc;
    border-radius: 5px;

}
.lg_main .btn_register{
    width: 100%;
    line-height: 30px;
}
.register_xy{
    height: 45px;
    font-size: 12px;
    line-height: 45px;
}
.register_xy a{
    padding: 0;
}
input[name="vCode"]{
    width: 70%;
}
.mui-input-row .btn_vcode{
    width: 27%;
}
.mui-input-row .btn_vcode.disabled{
    background-color: #999;
    border: 1px solid #999;
}
.btn_box{
    padding:0;
    height: 45px;
}